{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Section 2: Informations {% endblock %}

{% block content %}

{% if player_even == True %}

<p>
Knowing that the duration of maternity and paternity leave in number of weeks in different countries of the European Union are as follows 
    </p>
    <img src="https://imagizer.imageshack.com/img923/9247/H7pq1Y.png"/> 


{% else %}
 

<p>
 Recent research shows that following their first child, women are more likely than men to make career choices (inactivity, part-time work, taking up less well-paid jobs, etc.) that allow them to take on more great part of the care of the children. These choices explain a large part of the pay gap between men and women in the long term.
</p>

    
    <img src="https://imagizer.imageshack.com/img923/7208/Ud4lSt.png"/> 


<p>
The graphic depicts changes in earnings between men (lighter line) and women (darker line) after the birth of their first child in different countries. While earnings tend to remain constant for men after the birth of their first child, women’s earnings tend to decrease before stabilizing at a lower level. For instance, the long term difference in relative earnings between women and men is around 45 percent in Britain. 
</p>


<p>
 Several arguments are advanced to explain these choices. Some think that these are choices constrained by social expectations / habits. Others believe it reflects a difference between the individual preferences of men and women. Still others consider that it is a decision taken by the couple to distribute the tasks for the sake of efficiency.
</p>
{% endif %}

 
{% next_button %}


{% endblock %}
