{% extends "groupA/Base.html" %}
{% load staticfiles otree %}


{% block title %}
    Questionnaire
{% endblock %}


{% block content %}


	<div id="Question0">
{% formfield player.Env_question label="How worried are you about the climate change?" %}
    </font>
    </div>
    <div>
    <font size="3">
	
	<div id="Question1">
{% formfield player.Env_q_1  label="Do you donate or volunteer in order to fight climate change?" %}
    </font>
    </div>
    <div>
    <font size="3">	
	
	<div id="Question2">
{% formfield player.Env_q_2  label="Do you invest/divest by taking into account the environmental aspects?" %}
    </font>
    </div>
    <div>
    <font size="3">	
	
	<div id="Question3">
{% formfield player.Env_q_3 with label="Do you use public transportation rather than a car?" %}
    </font>
    </div>
    <div>
      <font size="3">
	
	<div id="Question4">
{% formfield player.Env_q_4  label="Do you try to decrease the intake of animal products in your diet?" %}
    </font>
    </div>
    <div>
    <font size="3">		
	
	<div id="Question5">
{% formfield player.Env_q_5  label="Do you buy second-hand clothes rather than new ones?" %}
    </font>
    </div>
    <div>
    <font size="3">		
	
	<div id="Question6">
{% formfield player.Env_q_6 label="Do you try to fly less in order to fight climate change?" %}
    </font>
    </div>
    <div>
    <font size="3">		
	
    
    <div id="Question7">
{% formfield player.Financial_literacya  label="Suppose you had $100 in a savings account and the interest rate was 2% per year. After 2 years, how much do you think you would have in the account if you left the money to grow?" %}
    </font>
    </div>
    <div>
    <font size="3">
    
    
    <div id="Question8">
{% formfield player.Financial_literacyc label="Please tell us whether this statement is true or false. ‘Buying a stock of a company usually provides a safer return than a stock mutual fund’." %}
    </font>
	 </div>
    <div>
    <font size="3">
    </div>
    
	<div id="Question9">
{% formfield player.Financial_literacyd label="Do you have or had an investment account?" %}
    </font>
	 </div>
    <div>
    <font size="3">
    </div>
	
	<div id="Question10">
{% formfield player.Financial_literacye label="What is your knowledge level about financial markets?" %}
    </font>
	 </div>
    <div>
    <font size="3">
    </div>
	
	<div id="Question11">
{% formfield player.Financial_literacyf label="What is your experience level regarding financial markets?" %}
    </font>
	 </div>
    <div>
    <font size="3">
    </div>
	
<br/>


    <div id="next">
         <Click on the next button to continue... <br>
         <input class="btn btn-primary btn-large btn-primary next-button" type="button"
         value="Next" onclick="next_page()">
    </div>

    

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
  function next_page(){
        if ($("#id_Financial_literacyf_0").is(":checked") || $("#id_Financial_literacyf_1").is(":checked") || $("#id_Financial_literacyf_2").is(":checked") || $("#id_Financial_literacyf_3").is(":checked")){
            document.getElementById("form").submit();
            return true;
        } else {
            return false;
        }
  }
    
    </script>
{% endblock %}
